<div class="container mt-5">
    <div class="row mt-5 d-flex align-items-strech">
        <form action="/consulta" method="post" class="row">
            <h4 class="fs-3">Selecione os filtros</h4>
            <div class="mt-4 mb-2 col-3 form-floating">
                <select name="periodo" class="form-select custom-border" id="floatingSelectPeriodo"
                    aria-label="Periodos disponiveis">
                    <option value="0">Escolha uma opção</option>
                    <option value="1">Matutino</option>
                    <option value="2">Vespertino</option>
                    <option value="3">Todos</option>
                </select>
                <label for="floatingSelectPeriodo" style="left: auto;">Periodo para busca</label>
            </div>
            <div class="mt-4 mb-2 col-3 form-floating ">
                <select name="turmas" class="form-select custom-border" id="floatingSelectTurma"
                    aria-label="Turmas disponiveis">
                    <option value="0">Escolha uma opção</option>
                    <option value="1">1º ano</option>
                    <option value="2">2º ano</option>
                    <option value="3">3º ano</option>
                    <option value="4">4º ano</option>
                    <option value="5">5º ano</option>
                    <option value="6">Todos</option>
                </select>
                <label for="floatingSelectTurma" style="left: auto;">Turma para busca</label>
            </div>
            <div class="mt-4 mb-2 col-3 form-floating d-flex align-items-stretch">
                <button type="submit" class="btn btn-dark">Buscar</button>
            </div>
        </form>

        <hr class="my-4">

        {{#ifCond alunos '==' 'Selecione os filtros'}}
        <div class="alert alert-warning col-8" role="alert">
            {{alunos}}
        </div>
        {{else}}
        {{#ifCond alunos '==' 'Nenhum aluno encontrado'}}
        <div class="alert alert-warning col-8" role="alert">
            {{alunos}}
        </div>
        {{else}}
        {{#ifCond alunos '==' 'Nenhum filtro selecionado'}}
        <div class="alert alert-warning col-8" role="alert">
            {{alunos}}
        </div>
        {{else}}
        {{#ifCond alunos '==' 'Selecione uma turma'}}
        <div class="alert alert-warning col-8" role="alert">
            {{alunos}}
        </div>
        {{else}}
        {{#ifCond alunos '==' 'Selecione um periodo'}}
        <div class="alert alert-warning col-8" role="alert">
            {{alunos}}
        </div>
        {{else}}
        <div class="col-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Turma</th>
                        <th scope="col">Periodo(Contra turno)</th>
                        <th scope="col">Escola</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each alunos}}
                    <tr>
                        <td>{{nome}}</td>
                        <td>{{serieEscola}}</td>
                        <td>{{periodoEstudoContraTurno}}</td>
                        <td>{{nomeEscola}}</td>
                        <td class="d-flex gap-3">
                            <a href="/editar/{{this._id}}" class="text-info-emphasis" data-bs-toggle="tooltip"
                                data-bs-title="Editar registro"><i class="fas fa-pen-to-square"></i>
                            </a>

                            <a href="/detalhar/{{this._id}}" class="text-primary" data-bs-toggle="tooltip"
                                data-bs-title="Detalhar registro"><i class="fas fa-magnifying-glass"></i>
                            </a>

                            <form action="/gerarFichaCadastro/{{this._id}}" method="post">
                                <button type="submit" class="text-success border-0 bg-transparent p-0" data-bs-toggle="tooltip"
                                    data-bs-title="Gerar ficha de cadastro"><i class="fas fa-clipboard-list"></i>
                                </button>
                            </form>
                            
                            <form method="POST" action="/deletar/{{this._id}}" class="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="text-danger delete-button border-0 bg-transparent p-0"
                                    data-bs-toggle="tooltip" data-bs-title="Excluir registro" data-id="{{this._id}}"><i
                                        class="fas fa-trash-can"></i></button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
    </div>
</div>

<script>
    const deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(button => {
        button.addEventListener('click', function (e) {
            e.preventDefault();
            const id = this.getAttribute('data-id');
            Swal.fire({
                title: 'Você tem certeza?',
                text: "Não será possível reverter esta ação!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, deletar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/deletar/${id}`, {
                        method: 'DELETE',
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire(
                                    'Deletado!',
                                    'Aluno deletado com sucesso.',
                                    'success'
                                ).then(() => {
                                    window.location.href = '/consulta';
                                })
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'There was an error deleting your file.',
                                    'error'
                                )
                            }
                        })
                }
            })
        });
    });
</script>